/* Import Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* ROOT */
:root {
  --charcoal: #282a35;
  --light-green: #d9eee1;
  --salmon: #fb9f89;
  --light-rose: #f3ecea;
  --light-blue: #96d4d4;

  --magenta: #b9005f;

  --black: #000;
  --white: #fff;

  --nav-color: #fff;
  --header-color: #fb9f89;
  --body-color: #eeeeee;
}

/* GLOBAL RESEST */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Roboto", sans-serif;
  /* font-family: Fira Sans; */
}

body {
  background-color: var(--body-color);
}

button {
  cursor: pointer;
}

a {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: var(--magenta);
}

/* LAYOUT */
.row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEROSECTION */
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: var(--nav-color);
}
header {
  background-color: var(--header-color);
  height: calc(75vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
}
.header__row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__heading {
  max-width: 90%;
}

.header__image--wrapper {
  max-width: 90%;
}

.header__image {
  width: 100%;
  height: 100%;

}

h1 {
  font-size: 60px;
  word-wrap: break-word;
}
.subheader {
  font-size: 36px;
  margin-top: 0.5em;
}

.logo {
  /* width: 100%; */
  height: 40px;
}


ul {
  display: flex;

}

li {
  list-style: none;
  padding-left: 1em;
}

/* MAIN */
.article__waarneembaar {
  background-color: var(--light-green);
  width:500px;
  position
}


/* waarneembaar */

/* FOOTER */    

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1em 0;
  }

  .row {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .title {
    font-size: 2em;
  }

  ul {
    margin-top: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* @media screen and (max-width: 550px) {
    a {
        font-size: 16px;
  } */
