*,
*::before,
*::after {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi/Fonts/OTF/Satoshi-Black.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi/Fonts/OTF/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --lichtgroene-kleur: #9ad0c2;
  --donkergroene-kleur: #346f60;
  --vaste-border: 5px;
}

.span-lichtgroenekleur {
  background: var(--donkergroene-kleur);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

li {
  list-style: none;
}

#naarBovenKnop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  aspect-ratio: 1/1;
  display: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}
