footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;

  ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      width: 100%;
      height: 150px;
      border-radius: 10px;
      background-color: var(--lichtgroene-kleur);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;

    li {
      display: flex;
      padding-bottom: 20px;
      gap: 20px;
      border-bottom: 1px solid rgb(231, 231, 231);

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p:nth-of-type(2) {
          color: #a2a2a2;
          font-size: 16px;
        }
      }
    }

    span {
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--lichtgroene-kleur);
    }
  }
}
