body.no-scroll {
  overflow: hidden;
}

header:nth-of-type(1) {
  height: 6vh;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;

  ul {
    padding: 0 20px;
    display: flex;
    gap: 30px;

    li {
      a {
        color: white;
        font-size: 0.9rem;
      }
    }
  }
}

header:nth-of-type(2) {
  height: 7vh;
  display: flex;
  border-radius: var(--vaste-border);
  align-items: center;
  justify-content: right;

  img {
    height: 30px;
  }

  ul {
    padding: 0 20px;

    a {
      border: none;
      padding: 0;
    }
  }

  ul:nth-of-type(1) {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        font-size: 90%;
      }
    }

    li:nth-of-type(1) {
      a {
        text-decoration: underline;
      }
    }
  }

  ul:nth-of-type(2) {
    svg {
      cursor: pointer;
    }
  }

  header {
  }

  #hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }

  #mobile-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    transition: all 0.3s ease;

    svg {
      rotate: 45deg;
      right: 20px;
      top: 60px;
      cursor: pointer;
      position: absolute;
    }
  }

  #mobile-menu.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
  }

  #mobile-menu.show {
    opacity: 1;
  }

  #mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
  }

  #mobile-menu li a {
    display: block;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
  }

  #mobile-menu li a:hover {
    background: #f4f4f4;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    #hamburger {
      display: block;
    }
  }
}
