main {
  overflow-x: hidden;

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

section:nth-of-type(1) {
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 40px;

  ul {
    width: 100%;
    text-decoration: none;
  }

  ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 900px) {
      width: 50%;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--donkergroene-kleur);
      padding: 5px 20px;
      background: hsl(164.75deg 94.51% 96.65%);
      color: var(--donkergroene-kleur);
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem;

      span {
        display: flex;
        width: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: var(--donkergroene-kleur);
      }
    }

    li {
      list-style: none;
      justify-content: center;
      display: flex;
      gap: 10px;
    }

    h1 {
      font-weight: 400;
      position: relative;
      text-align: center;
    }

    p {
      text-align: center;
      line-height: 1.35;
    }

    .scroll-p {
      font-size: 0.85rem;
      text-align: center;
    }
  }

  ul:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 900px) {
      width: 50%;
    }
  }
}

section:nth-of-type(2) {
  min-height: 100vh;
  padding: 40px 20px 40px 20px;
  background-color: var(--donkergroene-kleur);

  h2 {
    font-weight: 600;
    color: white;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;

    article {
      background-color: #efefef;
      height: 350px;

      li {
        list-style: none;
      }

      li:nth-of-type(1) {
        background-image: url(../assets/images/randomw.jpg);
        background-position: center;
        background-size: cover;
        height: 40%;
      }

      li:nth-of-type(2) {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;

        p:nth-of-type(1) {
          color: rgb(152, 152, 152);
          font-size: 90%;
        }

        p:nth-of-type(2) {
          font-weight: 600;
        }
      }

      li:nth-of-type(3) {
        height: 20%;
        display: flex;
        gap: 20px;
        padding: 0 15px;
        align-items: center;

        div:nth-of-type(1) {
          display: flex;
          flex-direction: column;
          text-align: left;
        }

        img {
          width: 15%;
        }
      }
    }
  }
}

section:nth-of-type(3) {
  padding: 100px 20px 20px 20px;

  h2 {
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;

    article {
      width: 100%;
      height: 450px;
      background-color: var(--lichtgroene-kleur);
      border-radius: var(--vaste-border);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;

      &:nth-of-type(2) {
        flex-direction: column-reverse;
      }

      li:nth-of-type(1) {
        p {
          font-size: 150%;
        }
      }

      li:nth-of-type(2) {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: right;

        a:nth-of-type(1) {
          background-color: white;
          padding: 10px 25px;
        }

        a:nth-of-type(2) {
          height: 40px;
          aspect-ratio: 1 / 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: white;
        }
      }
    }
  }
}

.auto-scroll {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  display: flex;
  gap: 45px !important;

  height: 200px !important;
}

.scroll-track {
  display: flex;
  width: calc(800px * 8);
  gap: 30px;
  animation: scroll 20s linear infinite;
}

.scroll-track img {
  max-height: 50px;
  filter: grayscale(1);
  object-fit: cover;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#naarBovenKnop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  aspect-ratio: 1/1;
  display: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}
