main {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

section:nth-of-type(1) {
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  ul {
    width: 100%;
    text-decoration: none;
  }

  ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 900px) {
      width: 50%;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--donkergroene-kleur);
      padding: 7px 20px;
      background: hsl(164.75deg 94.51% 96.65%);
      color: var(--donkergroene-kleur);
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem;

      span {
        display: flex;
        width: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: var(--donkergroene-kleur);
      }
    }

    li {
      list-style: none;
      justify-content: center;
      display: flex;
      gap: 10px;
    }

    h1 {
      font-weight: 400;
      position: relative;
      text-align: center;
      max-width: 30rem;
    }

    p {
      text-align: center;
      line-height: 1.35;
      max-width: 25rem;
    }

    .scroll-p {
      font-size: 0.85rem;
      text-align: center;
    }
  }

  ul:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 900px) {
      width: 50%;
    }
  }
}

section:nth-of-type(2) {
  min-height: 100vh;
  padding: 40px 20px 40px 20px;
  background-color: var(--donkergroene-kleur);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  ul:nth-of-type(1) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px !important;
    padding: 0 !important;

    a {
      display: flex;
      cursor: pointer;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--donkergroene-kleur);
      padding: 7px 20px;
      background: hsl(164.75deg 94.51% 96.65%);
      color: var(--donkergroene-kleur);
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem;

      span {
        display: flex;
        width: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: var(--donkergroene-kleur);
      }
    }

    h2 {
      font-weight: 600;
      color: white;
      line-height: 1.3;
    }

    p {
      color: white;
      line-height: 1.3;
      max-width: 17rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;

    article {
      background-color: white;
      min-height: 310px;
      border-radius: 5px;

      li {
        list-style: none;
      }

      li:nth-of-type(1) {
        background-image: url(../assets/images/neat.png);
        background-position: center;
        background-size: cover;
        min-height: 160px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      li:nth-of-type(2) {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px;

        p:nth-of-type(1) {
          color: rgb(78, 78, 78);
          font-size: 90%;
        }

        p:nth-of-type(2) {
          line-height: 1.3;
        }
      }

      li:nth-of-type(3) {
        min-height: 60px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        gap: 20px;
        background: whitesmoke;
        padding: 0 20px;
        align-items: center;

        div:nth-of-type(1) {
          display: flex;
          flex-direction: column;
          text-align: left;
          font-size: 0.9rem;
        }

        img {
          width: 13%;
        }
      }
    }
  }
}

section:nth-of-type(3) {
  padding: 50px 20px 20px 20px;

  div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    h2 {
      font-weight: 500;
      text-align: center;
      line-height: 1.3;
    }

    p {
      line-height: 1.3;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--donkergroene-kleur);
      padding: 7px 20px;
      background: hsl(164.75deg 94.51% 96.65%);
      color: var(--donkergroene-kleur);
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.7rem;

      span {
        display: flex;
        width: 10px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: var(--donkergroene-kleur);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;

    article {
      width: 100%;
      height: 350px;
      background-image: url(../assets/images/neat.png);
      background-position: center;
      background-size: cover;
      color: white;
      border-radius: var(--vaste-border);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      position: relative;

      /* @media (min-width: 400px) {
        max-width: ;;
     } */

      &:nth-of-type(1) {
        background-image: url(../assets/images/article-2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #496d99;
      }

      &:nth-of-type(2) {
        flex-direction: column-reverse;
        background-image: url(../assets/images/article-1.jpg);
      }

      &:nth-of-type(3) {
        background-image: url(../assets/images/article-3.png);
        background-size: cover;
        background-position: left;
      }

      div:nth-of-type(1) {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: var(--vaste-border);
      }

      li:nth-of-type(1) {
        z-index: 2;
        p {
          font-size: 150%;
          z-index: 9999;
        }
      }

      li:nth-of-type(2) {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: right;
        z-index: 2;

        a:nth-of-type(1) {
          background-color: white;
          border-radius: 50%;
          width: 40px;
          aspect-ratio: 1 / 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      a:nth-of-type(2) {
        height: 40px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}

.auto-scroll {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  display: flex;
  gap: 45px !important;
  height: 200px !important;
}

.scroll-track {
  display: flex;
  width: calc(800px * 8);
  gap: 30px;
  animation: scroll 30s linear infinite;
}

.scroll-track img {
  max-height: 50px;
  filter: grayscale(1);
  object-fit: cover;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
