
html {
  scroll-behavior: smooth;
  overflow: scroll;
}
  h1, body{
    font-family: Fira Sans Medium;


  }
  .titel{
    color: #b9005f;


 justify-self: center;
  }
  .titel2{
    color: #b9005f;
    justify-self: center;
  }
body {
  height: 100vh;
  width: 90vw;
  font-family: Fira sans, sans-serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

header {
  width: 100vw;
  height: 6vh;
  display: block;
background-color: #fff
}


#logo {
  width: auto;
  height: 7em;
  padding: 0.5em 1em;
  position: absolute;
  margin-top: 1px;
}
a{

border-radius: 0.5;
justify-content: center;
justify-items: center;
justify-self: center;

}
.link{
display: inline;
margin: 0.4em;
padding: 0.04;
text-align: center;
color: white;
border-radius: 0.5;
justify-content: center;
justify-items: center;
justify-self: center;
margin-bottom: 7rem;


}
.aside{

  display: flex;
  justify-self: center;
  margin-right: 1.6rem;
  flex-wrap: wrap;
  position: fixed;
  background-color: #b9005f;
  width: 13rem;
  padding: 2em;
  border-radius: 1rem;
  justify-self: start;
  flex-direction: column;
  height: 40rem;
  margin-top: 200px;
  margin-bottom:50px ;


}

.kaart {
  justify-content: center;
  align-content: center;
  background-color:#b9005f;
color: #fff;
border-radius: 10px;
background-color: #af6f90;
color: #fff;
border-radius: 10px;
margin: 22rem;
width: 40em;
padding: 4rem;
box-shadow: 3rem;

}


.email{
  display: flex;
  border : solid;
  color: #ffffff;
  position: self center;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right:100px;
  background-color: gray;
  
  
   }
  

